.embed {
  position: relative;
}

.embed__item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.embed--16by9 {
  padding-top: 56.25%;
}

.embed--4by3 {
  padding-top: 75%;
}

.embed--4by1 {
  padding-top: 25%;

}
